body {
    background-color: rgb(83, 83, 83);
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.load_space {
    width: 100px;
    height:  100px;
    /* background-color: white; */
    opacity: 1;
}

.status_space {
    width: calc(100vmin - 60px);
    height:  calc(30vmin - 60px);
    /* background-color: white; */
    opacity: 1;
}

.action {
    width: 80px;
    height: 30px;
    cursor: pointer;

}

.action:disabled{
    cursor: default;
}

.select {
    width: 80px;
    height: 30px;
    background-color: rgb(255, 176, 176);
    border-style:none;
    transition: 0.5s;
    cursor: pointer;
}

.select:hover{
    background-color: rgb(255, 73, 73);
}
.select:disabled{
    cursor: default;
    background-color: rgb(255, 176, 176);
}

#load {
    display: none
}

.hoge {
    color: #bcc977
}